# Machine Learning Project

In [1]:
import os
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv(r"C:\Users\bibif\Downloads\ML PROJECT\project---predict-biological-age-Rukhsarahmed1-main\real_test_data.csv")
df1=pd.read_csv(r"C:\Users\bibif\Downloads\ML PROJECT\project---predict-biological-age-Rukhsarahmed1-main\training_data.csv")

In [3]:
df.head()

,Unnamed: 0,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,0,0,383,0,32,0,216756.66,0.89,138,1,0,99
1,1,0,714,0,42,1,129419.84,2.50,143,1,1,67
2,2,1,102,0,54,1,257196.98,0.72,138,1,1,187
3,3,0,1501,1,48,1,215230.94,0.90,138,0,1,67
4,4,1,273,0,26,0,166515.37,1.60,138,0,0,211

In [4]:
df1.head()

,Unnamed: 0,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4
1,1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6
2,2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7
3,3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7
4,4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8

In [5]:
df.shape

(200, 12)

In [6]:
df1.shape

(299, 13)

#  See the datatype of column

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                200 non-null    int64
 1   anaemia                   200 non-null    int64
 2   creatinine_phosphokinase  200 non-null    int64
 3   diabetes                  200 non-null    int64
 4   ejection_fraction         200 non-null    int64
 5   high_blood_pressure       200 non-null    int64
 6   platelets                 200 non-null    float64
 7   serum_creatinine          200 non-null    float64
 8   serum_sodium              200 non-null    int64
 9   sex                       200 non-null    int64
 10  smoking                   200 non-null    int64
 11  time                      200 non-null    int64
dtypes: float64(2), int64(10)
memory usage: 18.9 KB

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                299 non-null    int64
 1   age                       299 non-null    float64
 2   anaemia                   299 non-null    int64
 3   creatinine_phosphokinase  299 non-null    int64
 4   diabetes                  299 non-null    int64
 5   ejection_fraction         299 non-null    int64
 6   high_blood_pressure       299 non-null    int64
 7   platelets                 299 non-null    float64
 8   serum_creatinine          299 non-null    float64
 9   serum_sodium              299 non-null    int64
 10  sex                       299 non-null    int64
 11  smoking                   299 non-null    int64
 12  time                      299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [9]:
df1['age']=df1['age'].astype('int64')

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                299 non-null    int64
 1   age                       299 non-null    int64
 2   anaemia                   299 non-null    int64
 3   creatinine_phosphokinase  299 non-null    int64
 4   diabetes                  299 non-null    int64
 5   ejection_fraction         299 non-null    int64
 6   high_blood_pressure       299 non-null    int64
 7   platelets                 299 non-null    float64
 8   serum_creatinine          299 non-null    float64
 9   serum_sodium              299 non-null    int64
 10  sex                       299 non-null    int64
 11  smoking                   299 non-null    int64
 12  time                      299 non-null    int64
dtypes: float64(2), int64(11)
memory usage: 30.5 KB

In [11]:
X=df1.iloc[:,[0,2,3,4,5,6,7,8,9,10,11,12]]
y=df1.iloc[:,1]

XEST=df.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11]]
TEST=df1.iloc[:,1]

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0, shuffle=True)
print(X_train.head())

     Unnamed: 0  anaemia  creatinine_phosphokinase  diabetes  \
281         281        0                       582         0
44           44        1                       588         1
241         241        0                       582         1
189         189        0                       244         0
152         152        0                       115         0

     ejection_fraction  high_blood_pressure  platelets  serum_creatinine  \
281                 40                    0    51000.0               2.7
44                  60                    0   194000.0               1.1
241                 30                    0   249000.0               1.3
189                 45                    1   275000.0               0.9
152                 45                    1   184000.0               0.9

     serum_sodium  sex  smoking  time
281           136    1        1   250
44            142    0        0    33
241           136    1        1   212
189           140    0        0   174
152           134    1        1   118

In [13]:
from sklearn.metrics import accuracy_score as acc_scr
from sklearn.neighbors import KNeighborsClassifier as KNC

# Create KNN model
model = KNC(n_neighbors=5)
# Fit the model.
model.fit(X_train, y_train)
# Fit the model on the given training dataset.
predict_y = model.predict(X_test)
# Find the prediction using the fit model
accuracy = acc_scr(y_test, predict_y)
print('KNeighbors Classifier Accuracy is  = {:.2f}'.format(accuracy))

KNeighbors Classifier Accuracy is  = 0.03

# Build LogisticRegression

In [14]:

from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver= 'liblinear')
model.fit(X_train, y_train)
y_PRED = model.predict(X_test)
accuracy = accuracy_score(y_test, y_PRED)
print("LogisticRegression output is = : ", accuracy)

LogisticRegression output is = :  0.06666666666666667

# Build KNN Model

In [15]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=40)
model.fit(X_train, y_train)
y_PRED = model.predict(X_test)
accuracy = accuracy_score(y_test, y_PRED)
print("Output using  K-NN = ", accuracy)

Output using  K-NN =  0.05555555555555555

# Build SVM

In [16]:
# Support Vector Model
from sklearn.svm import SVC
model = SVC(kernel='rbf', C=1)
model.fit(X_train, y_train)
y_PRED = model.predict(X_test)
accuracy = accuracy_score(y_test, y_PRED)
print("Output  using SVM = ", accuracy)

Output  using SVM =  0.08888888888888889

# Build Decision Tree Model

In [17]:
#Build Decision Tree Model
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(class_weight='balanced', criterion='entropy', splitter='best')
model.fit(X_train, y_train)
y_PRED = model.predict(X_test)
accuracy = accuracy_score(y_test, y_PRED)
print("Outout  using Decision Tree = ", accuracy)

Outout  using Decision Tree =  0.06666666666666667